.tasbeh{
    width: 130px;
    height: 150px;
    background-color: coral;
    border: 1px solid chocolate;
    position: absolute;
    top: 10%;
    left: 35%;
    border-radius: 20%;
}
.ekran{
    width: 70px;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 20%;
    border-radius: 10%;
    border: 1px solid floralwhite;
    text-align: center;
    font-size: 30px;
}
.tugma{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 45%;
    left: 35%;
    border-radius: 50%;
    background-color: grey;
}
.nolga{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: burlywood;
    position: absolute;
    top: 48px;
    left: 68%;

}

























